doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
    script(src='http://documentcloud.github.com/underscore/underscore-min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    noscript Sorry, you need JavaScript for this to work (i.e., this is not made for mobile).
    |<div id="fb-root"></div>
    script(src='/js/fb.js')
    h1 SAYS WHO
    div#binder
    
    
    
     button(class="login", data-bind="click:FBLogin, visible: !fLoggedIn()") Log in
     
     div(data-bind="visible: fLoggedIn")
        p(class="score") Score: 
            span(data-bind="text: nScore")
        p(data-bind="visible: fLoading") loading...
        button(class="play", data-bind="click:startGame, visible: !fInit() && !fLoading()") Play the game!
        p(data-bind="visible: fLinkShowing") Who put a link with the following description? 
        p(data-bind="visible: fStatusShowing") Who posted the following status: 
        p(data-bind="visible: fQuestionShowing, text: sMessage")
        div(data-bind="foreach: friendOptions, visible: fQuestionShowing")
           div
               input(name="friends",type="radio", data-bind="value:$data.name,checked:$parent.sInputName")
               span(data-bind="text:$data.name")
               img(data-bind="attr:{src: $data.pic_square}")
        button(data-bind="visible: fQuestionShowing, click: checkName") Submit
        div(data-bind="visible:fSeeNext")
            p(data-bind="visible: fCorrect") Correct!
            p(data-bind="visible: !fCorrect()") Wrong :( The correct answer was: 
                span(data-bind="text: sActualName")
            button(data-bind="click:seeNext") Next
     div(data-bind="visible: fGameOver")
         p GAME OVER
         p Your score was 
            span(data-bind="text: nScore")
            span  out of 
            span(data-bind="text: numQuestions")
         button(data-bind="click:postScore,visible:!fScorePosted()") Post your score!
         button(data-bind="click:startGame") Play again!
      
