doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
    script(src='http://documentcloud.github.com/underscore/underscore-min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,900',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700',rel='stylesheet',type='text/css')
    
  body
    noscript Sorry, you need JavaScript for this to work (i.e., this is not made for mobile).
    |<div id="fb-root"></div>
    script(src='/js/fb.js')
    
    
              
    
    div#binder
    
     div(class="heading",data-bind="visible:fInit() || fLoading()")
         span(class="titleSmall") SAYS WHO
             span(class="score") SCORE: 
                 span(data-bind="text: nScore")
     h1(data-bind="visible:!(fInit() || fLoading())") SAYS WHO
     h2(data-bind="visible:!(fInit() || fLoading())") How well do you know your friends?
    
     img(class="login",src="images/fbconnect.png" data-bind="click:FBLogin, visible: !fLoggedIn() && fCheckedIfLoggedIn()")
     
     div(data-bind="visible: fLoggedIn")
        p(class="quote", data-bind="visible: fLoading") loading...
        button(class="play", data-bind="click:startGame, visible: !fInit() && !fLoading()") PLAY
        div(class="quoteContainer",data-bind="visible: fQuestionShowing")
            p(class="quote", data-bind="text: sMessage")
        div(data-bind="foreach: friendOptions, visible: fQuestionShowing")
           div
               span(data-bind="text:$data.name")
               img(data-bind="click:$parent.checkName, attr:{src: $data.pic_square}")
        button(data-bind="visible: fQuestionShowing, click: checkName") Submit
        div(data-bind="visible:fSeeNext")
            p(data-bind="visible: fCorrect") Correct!
            p(data-bind="visible: !fCorrect()") Wrong :( The correct answer was: 
                span(data-bind="text: sActualName")
            button(data-bind="click:seeNext") Next
     div(data-bind="visible: fGameOver")
         p GAME OVER
         p Your score was 
            span(data-bind="text: nScore")
            span  out of 
            span(data-bind="text: numQuestions")
         button(data-bind="click:postScore,visible:!fScorePosted()") Post your score!
         button(data-bind="click:startGame") Play again!
      
