doctype html
html(lang="en")
	head
		title= pageTitle
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
		script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
		script(src='http://documentcloud.github.com/underscore/underscore-min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Lato:100,900',rel='stylesheet',type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700',rel='stylesheet',type='text/css')

	body
		noscript Sorry, you need JavaScript for this to work.
		|<div id="fb-root"></div>
		script(src='/js/fb.js')

		div#binder
			//wrapper
			div(class="wrapper")
				div(class="heading",data-bind="visible:fInit() || fLoading()")
					span(class="titleSmall") SAYS WHO
						span(class="score") SCORE: 
							span(data-bind="text: nScore")
							span(class="highScore") &nbsp; &nbsp; &nbsp; HIGH SCORE: 
								span(data-bind="visible: !fHighScoreInitialized()") ... 
								span(data-bind="visible: fHighScoreInitialized, text: nHighScore")
				h1(data-bind="visible:!(fInit() || fLoading())") SAYS WHO
				h2(data-bind="visible:!(fInit() || fLoading())") How well do you know your friends?
				
				img(class="login",src="images/fbconnect.png" data-bind="click:function(data, event) {FBLogin(false)}, visible: !fLoggedIn() && fCheckedIfLoggedIn()")
				
				p(class="quote", data-bind="visible: fLoading") loading...

				div(data-bind="visible: fLoggedIn() && !fGameOver() && !fLoading()")
					button(class="play", data-bind="click:startGame, visible: !fInit() && !fLoading()") PLAY
					div(class="quoteContainer",data-bind="visible: fQuestionShowing")
						p(class="quote", data-bind="text: sMessage")
				
				//correct
				
				div(class="gameOver",data-bind="visible: fGameOver")
					h1 GAME OVER
					h2 Your score was: 
						span(data-bind="text: nScore")
					button(class="postScore", data-bind="click:postScore,visible:!fScorePosted()") POST YOUR SCORE
					</br>
					button(class="leaderboard",data-bind="click:leaderBoard") SEE LEADERBOARD
					</br>
					button(class="play", data-bind="click:startGame") PLAY AGAIN
				div(class="push")
			
			//footer pictures		
			div(class="footer", data-bind="visible: fLoggedIn() ")
				div(class="choices", data-bind="foreach: friendOptions, visible: fQuestionShowing() || fSeeNext()")
					//span(data-bind="text:$data.name")
					div(class="imageWrapper", data-bind="css: { 'Boring': $parent.fCheckingName() && !($data.fCorrectNotSelected()||$data.fIncorrectSelected()||$data.fCorrectSelected()), 'CorrectNotSelected': $data.fCorrectNotSelected, 'IncorrectSelected': $data.fIncorrectSelected, 'CorrectSelected': $data.fCorrectSelected },click:$parent.checkName")
						img(class="profpic", data-bind="attr:{src: $data.pic_square}")
						span(class="name", data-bind="text:$data.name")
				button(class="nextButton", data-bind="click:seeNext, visible: fSeeNext() && !fGameOver()") NEXT
		div#leaderBinder
			div#leaderBoard(data-bind="visible: fShowLeaderBoard")
				button(data-bind="click:closeLeaderBoard") CLOSE
				p(class="quote", data-bind="visible: fLoading") loading...
				div(data-bind="visible:!fLoading(),foreach: leaders")
					p
						span(data-bind="text:$data.name")
						span &nbsphas a high score of 
						span(data-bind="text:$data.score")
					img(data-bind="attr:{src: $data.pic_square}")

