html, body {
	height:100%;
}

body {
	background-color: #ff604b;
	padding:0;
	margin:0;
	width:100%;
}

button {
	cursor: pointer;
}

.quoteContainer {
	height:300px;
	overflow:none;
}

.quote {
	font-size:60px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
	text-align: center;
	line-height: 70px;	
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 200px;
}

h2 {
	text-align: center;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;
	color:#FFF;
	font-size: 50px;
	margin-top: -80px;
}

.highScore {
	float:right;
}

.score {
	font-size:12px;
	float: right;
	font-size:30px;
}

.play {
	display:block;
	margin:0 auto;
	color:#1b00ff;
	border: none;
	background-color: white;
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.play:hover {
	background-color: transparent;
	color:white;
}

.postScore {
	display:block;
	margin:0 auto;
	color:#1b00ff;
	border: none;
	background-color: rgba(40,40,255,1);
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.postScore:hover {
	background-color: transparent;
	color:white;
}

.leaderboard {
	display:block;
	margin:0 auto;
	color:#1b00ff;
	border: none;
	background-color: rgba(200,40,250,1);
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;	
}

.leaderboardContainer {
	position:absolute;
	top:0;
	margin:0 auto;
	text-align:center;
	width:100%;
	z-index: 5;
	background-color: rgba(255,255,255,.5);
	
	height:100%;
	
}

.leaderboardDiv {
	width:240px;
	background-color: rgba(255,255,255,.8);
	margin:0 auto;
	top:10%;
	
	
	
}

.leaderboard:hover {
	background-color: transparent;
	color:white;
}

.nextButton {
	display:block;
	margin:0 auto;
	color:#1b00ff;
	border: none;
	background-color: white;
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
	
	position:relative;
	bottom:100px;
	
}

.nextButton:hover {
	background-color: transparent;
	color:white;
}

.login {
	display:block;
	margin:0 auto;
	width:200px;
	cursor:pointer;
}

.heading {
	background-color: #b74233;
	padding:10px 10px;
}

.titleSmall {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color:white;
}

.choices {
	margin:0 auto;
	text-align: center;
}

.imageWrapper {
	position:relative;
	display:inline;
}

.imageWrapper:hover {
	
}

.imageWrapper:hover .name {
	display:block;
}

.profpic {
	width:16.666666667%;
	cursor:pointer;
}

.profpic:hover {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid white;
}

.name {
	position:absolute;
	z-index: 1;
	width:100%;
	text-align: center;
	
	font-size:30px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;

	line-height: 40px;	
	
	background-color: rgba(0,0,0,.6);
	bottom:10px;
	display:none;
	vertical-align:middle;
}

    
.footer, .push {
	position:fixed;
	bottom:-4px;
	width:100%;
}

.CorrectNotSelected{
	 position:relative;
	bottom:200px;
	transition:bottom .5s;
   -webkit-transition: bottom .5s;
   -moz-transition: bottom .5s;
   pointer-events:none;
}

.IncorrectSelected{
  position:relative;
  bottom:200px;
	transition:bottom .5s;
   -webkit-transition: bottom .5s;
   -moz-transition: bottom .5s;
   cursor:default;
   pointer-events:none;
}

.CorrectSelected{
	position:relative;
	bottom:200px;
	transition:bottom .5s;
   -webkit-transition: bottom .5s;
   -moz-transition: bottom .5s;
   pointer-events:none;
}

.Boring, .Boring:hover {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:none;
	display: none;
	cursor:default;
	pointer-events:none;
}

.CorrectSelected .profpic{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:10px solid green;
	cursor:default;
	
	pointer-events:all;
}

.CorrectNotSelected .profpic{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:10px solid green;
	cursor:default;
	pointer-events:all;
}

.IncorrectSelected .profpic{
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid red;
  cursor:default;
  pointer-events:all;
  
}

.gameOver {
	position:relative;
	z-index:1;
}

.leaderpic {
}

.leaderpic:hover {
}

.leadername {
	position:absolute;
	z-index: 1;
	width:100%;
	text-align: center;
	
	font-size:30px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;

	line-height: 40px;	
	
	background-color: rgba(0,0,0,.6);
	bottom:10px;
	display:none;
	vertical-align:middle;
}

.leaderWrapper {
	position:relative;
	display:inline;
}

.leaderWrapper:hover .leadername {
	display:block;
}

.xButton {
	margin:0;
	display:block;
	color:#1b00ff;
	border: none;
	background-color: white;
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.xButton:hover {
	background-color: transparent;
	color:white;
}

.leaderscore {
	position:absolute;
	z-index: 1;
	text-align: center;
	padding:10px;
	
	font-size:30px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;

	line-height: 40px;	
	
	background-color: rgba(0,0,0,.6);
	vertical-align:middle;
}
