html, body {
	height: 100%;
}

body {
	background-color: #ff604b;
	padding:0;
	margin:0;
}

.quoteContainer {
	height:300px;
	overflow:none;
}

.quote, p {
	font-size:60px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
	text-align: center;
	line-height: 70px;	
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 200px;
}

h2 {
	text-align: center;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;
	color:#FFF;
	font-size: 50px;
	margin-top: -80px;
}

.score {
	font-size:12px;
	float: right;
	font-size:30px;
}

.play {
	display:block;
	margin:0 auto;
	color:#1b00ff;
	border: none;
	background-color: white;
	color:#ff604b;
	padding:10px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.play:hover {
	background-color: transparent;
	color:white;
}

.login {
	display:block;
	margin:0 auto;
	width:200px;
}

.heading {
	background-color: #b74233;
	padding:10px 10px;
}

.titleSmall {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color:white;
}

.choices {
	margin:0 auto;
	text-align: center;
}

.profpic {
	width:16.666666667%;
}

.profpic:hover{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid white;
}
    
.footer, .push {
	position:fixed;
	bottom:0;
	width:100%;
}

.correct {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid green;
}