body {
	background-color: #ff604b;
}

p {
	font-size:100px;
	color:#FFF;
	font-family: 'Vollkorn', serif;
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 200px;
}

h2 {
	text-align: center;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-style: italic;
	color:#FFF;
	font-size: 50px;
	margin-top: -80px;
}

.score {
	font-size:12px;
	text-align: center;
}

.play {
	text-align: center;
	color:#1b00ff;
}

.login {
	display:block;
	margin:0 auto;
	width:200px;
}